<div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" placeholder="Enter room name">
</div>
<div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" name="description" placeholder="Enter room description">
</div>
<div class="form-group">
    <button type="submit" class="btn btn-primary">Save</button>
</div>